<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <a href="/masks">Back to All Masks</a>
    </nav>
    <h1>Happy Mask Shop</h1>
    <h2><%= mask.name %></h2>
    <img src="<%= mask.img %>">
    <p><%= mask.description %></p>
    <p><%= mask.price %></p>
    <p>Owned: <%-mask.owned ? 'Yes' : 'No' %></p>
    <button>
        <a href="/masks/<%= mask._id %>/edit">Edit Mask</a>
    </button>
    <form action="/masks/<%= mask._id %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE">
    </form>
    
</body>
</html>